@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url(../fonts/Poppins-Bold.ttf);
}

.fs-16px{
    font-size: 16px !important;
}
.fs-15px{
    font-size: 15px !important;
}
.fs-14px{
    font-size: 14px !important;
}
.fs-13px{
    font-size: 13px !important;
}
.fs-12px{
    font-size: 12px !important;
}
